@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gradient-text {
  background: rgb(58, 158, 180);
  background: -webkit-linear-gradient(
    -10deg,
    rgb(42, 117, 134) 0%,
    rgba(41, 86, 204, 1) 50%,
    rgb(122, 7, 97) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .gradient-text {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
